html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.width-full{
    width:100%;
}

.centered {
    text-align: center;
}

.product-container {
    width: 70%;
    margin: auto;
}

.light-blue {
    background-color: lightblue;
}

.light-gray {
    background-color: lightgoldenrodyellow;
}

.light-blue:hover,
.light-gray:hover {
    background-color: white;
    cursor: default;
}

.table-header {
    border-bottom: solid 1px lightblue;
    cursor: pointer;
    margin-left: 10px;
    width: auto;
}

.desc:after {
    content: '\1F53A';
    font-size: 11px;
    color: lightblue;
}

.asc:after {
    content: '\1F53B';
    font-size: 11px;
    color: lightblue;
}

.margin-top-50 {
    margin-top: 50px;
}

.normal-top-20 {
    margin-top: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.td-for-buttons {
    width: 190px;
    background-color: white;
}

.button-width {
    width: 80px;
}

.red-color {
    color: #ff0000;
    background: none;
}

.blue-color {
    color: #0000A0;
    background: none;
}

.black-color {
    color: #000000;
    background: none;
}

.product-form-container {
    width: 400px;
    margin: auto;
}

.padding-left-20 {
    padding-left: 20px;
    width: 100%;
}

.ng-valid.ng-dirty,
.ng-valid-maxlength.ng-dirty,
.ng-valid-minlength.ng-dirty {
    border-color: green;
    border-width: 2px;
}

.ng-invalid.ng-dirty,
.ng-touched.ng-pristine.ng-invalid-required {
    border-color: red;
    border-width: 2px;
}

.float-right {
    float: right:
}

.margin-0 {
    margin: 0;
}

.position-relative {
    position: relative;
    float: right;
}
.spinner-sizes{
    width: 100px;
    height: 100px;
}
.padding-top-70
{
    padding-top: 70px;
}
.padding-left-100 {
    padding-left: 100px;
}
.image-size-200-200{
    height: 200px;
    width: 200px;
}