<div class="modal-header">
    <h4 class="modal-title">Alert message</h4>
</div>

<div class="modal-body centered">
    <div class="alert alert-{{alertModalCtrl.notification.msgType}}" role="alert">
        {{alertModalCtrl.notification.msg}}
    </div>
    <div class="modal-footer centered">
        <button type="button" class="btn btn-primary button-width" ng-click="alertModalCtrl.ok()">Ok</button>
        <button type="button" class="btn btn-default button-width" ng-click="alertModalCtrl.close()">Close</button>
    </div>
</div>